h1 {
  /* Makes h1 bigprint *\
  font-size: 60px;
  color: lightblue;
}

body {
  background-image: url('http://imgc.allpostersimages.com/img/print/marsani-gethsemane_u-L-E5Q7U0.jpg');
  background-size: cover;
}
